/* CSS Document */


/*********************************/
/*******MEDIA QUERIES************/
/********************************/

/*************TABLETTE**************/
@media screen and (max-width: 1170px) {
  .gla-item-content {
    padding: 217px 0 0;
 }
}


@media screen and (max-width: 1170px) {
  .site-banner .inside {
        padding: 3em 1.5em 1px 1.5em;
  }
	.gla-item {
    max-width: 50% !important;
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
	}
	.gla-item-content {
    padding: 250px 0 0;
 }
}
@media screen and (max-width: 376px) {
	.gla-item {
    max-width: 100% !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
	}
	.gla-item-content {
    padding: 250px 0 0;
 }
	.layout-2-col {
    width: 100% !important;
}
	#zone1 {
    display: inline-block;
    width: 100% !important; 
    float: left;
    text-align: center;
}
	.block.block-page.list-articles img.gla-item-img {
    height: auto !important;
    width: 100% !important;
}
	article.gla-item{
		align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
		box-shadow: 0px 4px 20px -7px grey;
    border-radius: 5px;
		background-color: #fff;
		padding: 0;
	}
	.gla-item-content{
		padding: 250px 15px 0 15px;
	}
}