/* CSS Document */


/*********************************/
/*******MEDIA QUERIES************/
/********************************/

/*************TABLETTE**************/
@media screen and (max-width: 1170px) {
  .gla-item-content {
    padding: 217px 0 0;
 }
}


@media screen and (max-width: 1170px) {
  .site-banner .inside {
        padding: 3em 1.5em 1px 1.5em;
  }
	.gla-item {
    max-width: 50% !important;
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
	}
	.gla-item-content {
    padding: 250px 0 0;
 }
}
@media screen and (max-width: 375px) {
	.gla-item {
    max-width: 100% !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
	}
	.gla-item-content {
    padding: 250px 0 0;
 }
	.layout-2-col {
    width: 100%;
}
	#zone1 {
    display: inline-block;
    width: 100%; 
    float: left;
    text-align: center;
}
	.block.block-page.list-articles img.gla-item-img {
    height: auto !important;
    width: 100% !important;
}
}