@charset "utf-8";
/* CSS Document - Surcharge css Agence */

body, html{
    background-color:#f5f5f5;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
}
div#zone2 {
    width: 100%;
}
.site-wrapper.wrapper {
    background-color: #f5f5f5;
    box-shadow: none;
    padding-left: 0;
}
.content-filter ul {
    padding-left: 0;
}

.gla-item {
    display: -ms-flexbox;
    display: flex;
    max-width: 33.3%;
    -ms-flex: 0 0 33.3%;
    flex: 0 0 33.3%;
    padding: 0 12px;
    margin: 0 0 42px;
    box-shadow: none;
    background: transparent !important;
}

.gla-item a {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 110px 0 20px;
    overflow: hidden;
    text-decoration: none;
    background: transparent !important;
    width: 100%;
}

.gla-item-content {
    position: static;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0px;
    padding: 250px 0 0;
    min-height: 0;
    z-index: 1;
    background: transparent !important;
}

.gla-item-tag {
    height: 23px;
    white-space: nowrap;
    top: 12px;
    left: 50%;
    padding: 0 10px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .1em;
    text-transform: uppercase;
    background: #66c0bc;
    z-index: 5;
    position:relative;
    left: 0px;
}

.gla-item-img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: auto;
    transition: transform .3s;
}

.wrapper, .site-wrapper{
    max-width:inherit;
}
.layout-2-col{
    width:70%;
}
#zone1{display:inline-block;width: 30%;float: left;}
  .content-filter {
    padding-top: 50px;
    min-height: 100vh;
    margin-right: 50px;
    margin-top: -18px;
    background-color: #fff;
}

  .block.block-page.list-articles .main-title-with-link .block-title {
    letter-spacing:0.05em;
    color:#000000;
    border:0;
    font-weight:600;
    letter-spacing:2px;
}
  .block.block-page.list-articles .main-title-with-link{
      border:0;
  }
  .block.block-page.list-articles .main-title-with-link .block-title:after {
    content: "BÊTA";
    font-size:14px;
    color:#e1e1e1;
    font-weight:500;
    margin-left:1.1%;
    border:1px solid #e1e1e1;
    padding : 5px 8px;
    letter-spacing: 0.5px !important;
    border-radius:5px;
}

span.gla-btn-read-more{
  display:none;
}

span.gla-item-tag {
    white-space: nowrap;
    width: 35%;
    border-radius: 20px;
    font-weight: 500;
    font-size: 8px;
}


.content-filter li {
    max-width: 80%;
    margin: 20px 0px 20px 0px;
    padding: 7px 0px 7px 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
	list-style:none;
}

.content-filter li a {
    font-weight: 400;
    font-size: 15px;
    text-decoration:none;
    color:#000000;
}
.content-filter li a span {
    padding: 3px 8px;
    font-size: 10px;
    margin-left: 10px;
    border-radius: 34%;
    color: #000000 !important;
    margin-top: -7px;
}

  .content-filter li:nth-child(2) a span{
	 background-color:#EBD9E2;
      padding:3px 6px;
      font-size:10px;
      margin-left:10px;
      color:#ffffff;
  }
  .content-filter li:nth-child(3) a span{
  background-color:#EFE4C8;
      padding:3px 6px;
      font-size:10px;
      margin-left:10px;
      color:#ffffff;
  }
  .content-filter li:nth-child(4) a span{
  background-color:#D3F2EA;
      padding:3px 6px;
      font-size:10px;
      margin-left:10px;
      color:#ffffff;
  }
  .content-filter li:nth-child(5) a span{
      background-color:#d7e588;
      padding:3px 6px;
      font-size:10px;
      margin-left:10px;
      color:#ffffff;
  }
/*************************************/
/***********STYLE TOPIC***************/
/*************************************/

span.gla-item-tag.topic_prototype, span.at-theme.topic_prototype, span.at-theme.topic_innovation ul.at-tag.unstyled li,
span.gla-item-tag.topic_prototype p.gla-item-author:before
{
  background-color:#EBD9E2;
	color:#C7ACB8;
}
span.gla-item-tag.topic_developpement, span.at-theme.topic_developpement, span.at-theme.topic_innovation ul.at-tag.unstyled li,
span.gla-item-tag.topic_developpement p.gla-item-author:before
{
  background-color:#EFE4C8;
	color:#C2B190;
}
span.gla-item-tag.topic_innovation, span.at-theme.topic_innovation, span.at-theme.topic_innovation ul.at-tag.unstyled li,
span.gla-item-tag.topic_innovation p.gla-item-author:before
{
  background-color:#D3F2EA;
	color:#A7D0C4;
}



span.gla-item-tag.topic_prototype p.gla-item-author time.la-item-date {
  color:#C7ACB8;
}

span.gla-item-tag.topic_developpement p.gla-item-author time.la-item-date {
  color:#A7D0C4;
}
span.gla-item-tag.topic_innovation p.gla-item-author time.la-item-date {
  color:#A7D0C4;
}

/*******************************************/
/*************END STYLE TOPIC***************/
/*******************************************/

.gla-item-title {
    border-bottom: 0;
    margin-bottom: 0;
    margin-top: .65em;
    padding-bottom: 0;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3;
    text-transform: none;
    color: #474d4e;
    -webkit-transition: color .2s;
    transition: color .2s;
    font-family: 'Montserrat', sans-serif;
    width:100%;
    text-align:left;
    background-color:transparent;
    padding-left: 0px;
margin-top:40px;
}

p.gla-item-author{
  text-align:left;
  padding-left: 0px;
  font-size:0px !important;
	    padding-top: 7px;
}
p.gla-item-author time.la-item-date {
    font-size: 10px !important;
    padding-left: 16px;
}
p.gla-item-author:before {
    -webkit-mask-image: url(/theme/Prototype_git_desktop/img/clock.svg);
    mask-image: url(/theme/Prototype_git_desktop/img/clock.svg);
    content: ' ';
    width: 11px;
    margin-top: 3px;
    height: 11px;
    position: absolute;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}
.site-banner{
    background:#ffffff;
    padding: 16px 0;
    box-shadow: 0px -7px 20px 0px rgba(0,0,0,0.80);
    animation: slideDown .3s;
    height : 65px;
}

form#live-search{
    margin-top:-57.5px;
    display:block;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

input#filter {
    width: 40%;
    color:#000000;
    padding-left:10px;
    border-radius:5px;
    both:clear;
    outline:0;
    box-shadow:none;
    border:1px solid grey;
    height:30px;
}

input#filter::placeholder{
  font-size:12px;
 color:gray;
 }

.block.block-page.list-articles img.gla-item-img {
    max-height: 360px;
    width: auto;
	    -webkit-box-shadow: 0px 0px 24px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -14px rgba(0,0,0,0.75);
    border-radius: 3%;
}
span#filter-count{
    font-size: 11px;
    font-weight: 200;
    position: absolute;
    margin-left: 10px;
    margin-top: 6px;
	color:grey;
}


/******* ARTICLES *********/

.article .layout-2-col {
    width: 100%;
}

.article img.at-illust {
    margin: 0 auto;
    display: block;
	    box-shadow: 0 2px 30px 0 rgba(0,0,0,.12);
	    border-radius: 23px;
	    margin-top: 25px;
}
.article h1.at-main-title {
    text-align: center;
    font-size: 29px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    padding-top: 15px;
}

.article p.at-publication {
    border: 0;
    text-align: center;
    margin-top: -17px;
    color: grey;
    font-size: 12px;
}

.article .article-intro {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 11px;
}

.article span.at-theme{
margin: 0 auto;
    display: block;
    text-align: center;
    margin-left: 50% !important;
    transform: translateX(-50%);
    font-size: 11px !important;
    white-space: nowrap !important;
    width: 9%;
    border-radius: 21px;
    margin-top: -13px !important;
    text-overflow: ellipsis !important;
    word-wrap: break-word;
    overflow: hidden;
    letter-spacing: 0px;
    padding-left: 15px;
}
.block.block-page.list-articles .gla-item a:hover img.gla-item-img {
    transform: scale(1.01);
    z-index: 5;
}
.gla-item > a:hover .gla-item-title, .gla-item > a:focus .gla-item-title, gla-item > a:focus .gla-item-author, .gla-item > a:hover .gla-item-content, .gla-item > a:focus .gla-item-content {
    color: #000000;
}

.list-articles article a:hover p.gla-item-author {
    color: #000000;
}
.site-banner .inside {
    max-width: 1170px;
}

a.go_back_button {
    color: grey;
    z-index: 100;
    font-size: 12px;
    top: 0;
    margin-top: -40px;
    float: left;
    background: transparent !important;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: 400;
}

.site-banner .gsf-trigger {
    display: block;
    height: 46px;
    padding: 0.52em 0.5em 0;
    font-size: 1.5em;
    color: grey;
    margin-bottom: 10px;
	transition: .5s;
}
.block.block-small.global-search-form.js-gsf.cxp-searchform.cxp-searchsuggest {
    right: 0;
}
.site-banner .gsf-trigger:hover, .site-banner .gsf-trigger:focus {
    background: transparent;
    box-shadow: 0 2px 30px 0 rgba(0,0,0,.12);
    border-radius: 50%;
}
.site-banner .gsf-trigger:hover .icon, .site-banner .gsf-trigger:focus .icon, .site-banner .global-search-form.is-visible .gsf-trigger .icon {
    color: grey;
}

.site-banner .global-search-form.is-visible .gsf-trigger {
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 2px 30px 0 rgba(0,0,0,.12);
}

.article iframe {
    border: none;
	min-height: 35em;
}


.an-item a.an-item-link {
    width: 60%;
    margin: 0 auto;
    border-radius: 20px 50px 50px 20px;
    box-shadow: 0 1px 19px 0 rgba(0,0,0,.05);
	transition: 0.5s;
}
li.an-item.an-item-previous a.an-item-link {
    border-radius: 50px 20px 20px 50px;
}
li.an-item.an-item-previous img.an-item-illust {
    border-radius: 50% 0% 0% 50%;
}
.an-item a.an-item-link:hover {
    transform: scale(1.005);
    background-color: #ffffff;
    color: #000000;
}
.an-item span.an-item-publication-author {
    display: none;
}
.an-item img.an-item-illust {
    width: 100px;
    height: 100px;
        border-radius: 0% 50% 50% 0%;
	    transition: 0.5s;
	    filter: grayscale(100%);
}
.an-item a.an-item-link:hover img.an-item-illust {
    filter: grayscale(0%);
}
.an-item .icon-short-arrow-right:before {
    text-align: center;
    margin-right: 34px;
}

li.an-item.an-item-previous span.an-item-publication, li.an-item.an-item-previous span.an-item-title {
    text-align: right;
    display: block;
}

/**********ZONE 4 : COMMENTAIRE **************/

div#zone4 {
    margin-top: 50px;
}

/******** ZONE 4 : TO THE TOP ************/

#back-to-top:hover {
    background: #e9ebec;
    box-shadow: 0px 2px 16px -3px;
    padding-bottom: 0;
}
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 30px;
    background: #ffffff;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    border-radius: 50%;
    padding-top: 6px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 2px 9px -2px;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}

#back-to-top span {
    transition: 0.5s ease-in-out;
    margin-top: 0px;
    display: block;
}
#back-to-top:hover span {
    margin-top: -50px;
    transition: 0.5s ease-in-out;
}

/**************/
/**** TAGS ****/
/**************/

ul.at-tag.unstyled li a {
    text-decoration: none;
    color: #c5c5c5;
    font-size: 11px;
}
ul.at-tag.unstyled li {
	border:0;
    border: 1px solid #dedede;
    margin: 0px 5px 0px 5px;
    display: inline-block;
    padding: 4px 13px;
    border-radius: 9px;
}
ul.at-tag.unstyled {
    text-align: center;
    margin-bottom: 31px;
    margin-top: 0px;
    border: 0;
}


/***********************/
/*** ZONE 3 ARTICLES ***/
/***********************/


.popin-right-article {
    position: fixed;
    bottom: 50%;
    transform: translateY(50%);
    width: 10%;
    right: 0;
    border-radius: 8px 0px 0 8px;
    background: rgba(55, 55, 55, .99);
    z-index: 100;
    transition: height 0s 10000s;
}

.close-popin-right-article {
    color: #fff;
    position: absolute;
    margin-left: -20px;
    background: rgba(55, 55, 55, .99);
    padding: 6px;
    top: 50%;
    transform: translateY(-50%);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.popin-right-article:focus {
    width: 0;
}

.popin-right-article:focus .close-popin-right-article {
    transform-origin: 0 0;
    transform: rotate(180deg);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.popin-right-article span {
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 15px 0px 16px;
    display: block;
}
.popin-right-article p {
    color: #fff;
    font-size: 13px;
    padding: 8px 15px 0px 15px;
}



/** autre popin **/

.smart-popin {
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    overflow: auto; /* scrollbar will appear if the viewport is too tight to display all the popin content */
    opacity: 0;
    visibility: hidden;
  
    /* design */
  
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.smart-popin:target {
    opacity: 1;
    visibility: visible;
}
.smart-popin .sp-table {
    display: table;
    height: 100%;
    width: 100%;
}
.smart-popin .sp-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 10px; /* this space is important to let the box-shadow exceed around the popin - so it has to be at least equal to the shadow radius */
}
.smart-popin .sp-body {
    position: relative; /* to allow absolute positionning inside */
    z-index: 1; /* to ensure the popin body will be over the .sp-back layer */
    width: auto; /* by default the width of the wider element inside */
    min-width: 300px;  /* standard width for xs smartphones (320px) minus 2*10px (.sp-cell margins) */
    margin: 0 auto;
  
    /* design */
  
    background-color: #ffffff;
    padding: 2em;
    -webkit-box-shadow: 0 3px 5px 1px rgba(0,0,0,0.25);
    box-shadow: 0 3px 5px 1px rgba(0,0,0,0.25);
    width: 66.66%; /* 66.66 looks good :-) */;
}
.smart-popin .sp-body * {
    max-width: 100%; /* this is a security to prevents wide elements such as img to stretch the popin beyond the viewport width */
}
.smart-popin .sp-back { /* only used to get clicks out of the popin body */
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    display: block;
}
.smart-popin .sp-close {
    position: absolute;
    top: 0;
    right: 0;

    width: 36px;
    height: 36px;

    text-align: center;
    line-height: 36px;
    font-size: 1.6em;
    color: #000000;
    font-weight: 900;
    text-decoration: none;
}



/* misc */
.open-popin {
    right: 0px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: translateY(-50%);
    position: fixed;
    display: block;
    top: 50%;
    background: rgba(55, 55, 55, .99);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 15px 0px 15px 0px;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    width: 25px;
    text-align: center;
    font-weight: 400;
}
.open-popin:hover {
    color: #ffffff;
}

.imgpopinexplication {
    max-width: 100%;
    width: 100%\9; /* this is a hack for IE9 since min-width won't work */
	    display: block;
	    box-shadow: 0 2px 30px 0 rgba(0,0,0,.12);
    margin: 0 auto;
}
.smart-popin .sp-body h2 {
    color: #000;
    border: 0;
}
.fullscreen-body .open-popin {
    z-index: 9999;
}
.fullscreen-body .smart-popin {
    z-index: 99999;
}

/***********************/
/** Fullscreen button **/
/***********************/
a.fullscreenclass {
    position: fixed;
    bottom: 40px;
    right: 96px;
    z-index: 9999;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 30px;
    background: #ffffff;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    border-radius: 50%;
    padding-top: 6px;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 2px 9px -2px;
}

a.fullscreenclass:before {
    -webkit-mask-image: url(/theme/Prototype_git_desktop/img/fullscreen.svg);
    content: ' ';
    background: black;
    width: 27px;
    margin-top: 3px;
    height: 27px;
    position: absolute;
    right: 9px;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    top: 7px;
}

a.fullscreenclass:hover:after {
    content: ' FullScreen de la maquette ';
    position: absolute;
    width: 130px;
    height: 30px;
    font-size: 12px;
    line-height: 11px;
    left: -49px;
    top: -48px;
    background: #393939;
    color: #ffffff;
    padding-top: 9px;
    border-radius: 30px;
}

.fullscreen-maxpower{
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0;
    max-width:100% !important;
    max-height:100% !important;
    transition:0.5s;
    background:rgb(0,0,0,0.7)
     
 }
 .fullscreen-maxpower iframe{
     max-width:80% !important;
    max-height:98% !important;
    margin:0 auto;
    display:block;
    transform:translateY(1%);
 }

.fullscreen-body a.fullscreenclass:before {
    -webkit-mask-image: url(/theme/Prototype_git_desktop/img/cross.svg);
    width: 60px;
    height: 60px;
    left: -7px;
    top: -9px;
}
